In [8]:
heroes = ['Batman', 'Superman', 'Spiderman']
print(heroes)
print(heroes.index('Batman'))
print(heroes[0])
heroes.append('Wonderwoman')
heroes.remove('Batman')
print(heroes[2])
print(heroes.index('Superman'))
print( heroes)

['Batman', 'Superman', 'Spiderman']
0
Batman
Wonderwoman
0
['Superman', 'Spiderman', 'Wonderwoman']

In [9]:
heroes = ['Batman', 'Superman', 'Spiderman']
print('Batman' in heroes)
print('Ironman' not in heroes)
hero = 'Superman'
print(hero in heroes)
print('Ironman' not in ['Captain America', 'Ironman', 'Hulk'])

True
True
True
False

In [11]:
heroes1 = ['Batman', 'Superman', 'Spiderman']
heroes2 = ['Captain America', 'Ironman', 'Hulk']
print(heroes1 + heroes2)
heroes = heroes1 + heroes2
heroes2.remove('Hulk')
print(heroes)

['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']

In [13]:
heroes = ['Batman', 'Superman', 'spiderman', 'Captain America', 'Ironman', 'Hulk']
heroes.sort()
heroes.reverse()
print(heroes)

['spiderman', 'Superman', 'Ironman', 'Hulk', 'Captain America', 'Batman']

In [14]:
heroes = ['Batman', 'Superman', 'spiderman', 'Captain America', 'Ironman', 'Hulk']
print(sorted(heroes))
print(list(reversed(heroes)))
print(heroes)

['Batman', 'Captain America', 'Hulk', 'Ironman', 'Superman', 'spiderman']
['Hulk', 'Ironman', 'Captain America', 'spiderman', 'Superman', 'Batman']
['Batman', 'Superman', 'spiderman', 'Captain America', 'Ironman', 'Hulk']

In [45]:
heroes = ['Batman', 'Superman', 'spiderman', 'Captain America', 'Ironman', 'Hulk']
for hero in heroes:
    print (f"my hero is {hero}")
    print ("my hero is {}".format(hero))

my hero is Batman
my hero is Batman
my hero is Superman
my hero is Superman
my hero is spiderman
my hero is spiderman
my hero is Captain America
my hero is Captain America
my hero is Ironman
my hero is Ironman
my hero is Hulk
my hero is Hulk

In [29]:
numbers = [1, 2, 3, 4, 5, 6]
total = 0
for number in numbers:
    total = total + number
print(total)

21

In [30]:
age = input("Type your age: ")
age = int(age)
if age >= 100:
    print("That is not a valid age")
elif age >= 18:
    print("You are old enough to drive")
elif age <= 0:
    print("That is not a valid age")
else:
    print("You are not old enough to drive")

Type your age: 21
You are old enough to drive

In [31]:
age = input("Type your age: ")
age = int(age)
if age >= 100 or age <= 0:
    print("That is not a valid age")
elif age >= 18:
    print("You are old enough to drive")
else:
    print("You are not old enough to drive")

Type your age: 21
You are old enough to drive

In [40]:
numbers = [200, 100, 43, 10, -10, 0]
for number in numbers:
    if number > 100:
        print(f"{number} is greater than 100")
    elif number < 100:
        print(f"{number} is less than 100")

200 is greater than 100
43 is less than 100
10 is less than 100
-10 is less than 100
0 is less than 100

In [46]:
numbers = [200, 100, 43, 10, -10, 0]
filtered = []

for number in numbers:
    if number > 30:
        filtered.append(number)
print(filtered)

[200, 100, 43]